h1 {
  text-align: center;
}
#container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#todo-input {
  display: flex;
  margin-bottom: 20px;
}
input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}
#but {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
}
#list {
  list-style-type: none;
  padding: 0;
}
li {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#change {
  display: flex;
  gap: 10px;
}
#update-btn,
#delete-btn {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
#update-btn {
  background-color: #ffcc00;
}
#delete-btn {
  background-color: #e74c3c;
  color: white;
}
